{% extends model('component') %}

{% define config = {
    name: 'sepa-guarantee',
    tag: 'sepa-guarantee'
} %}

{% define data = {
    form: required,
} %}

{% block body %}
    <script src="https://cdn.novalnet.de/js/v2/NovalnetUtility.js"></script>

    <div class="payment-method">
       <p>{{ 'novalnet.sepa-payment-description' | trans }}</p>
       <label>{{ 'novalnet.sepa-iban' | trans }}</label>
       <div class="field">
            {{ form_widget(data.form.novalnetSepaGuarantee.iban, {'attr': { 'style': 'text-transform: uppercase;', 'autocomplete': 'off' }}) }}
            {{ form_errors(data.form.novalnetSepaGuarantee.iban) }}
        </div>
        <div>
            <label>{{ 'novalnet.guarantee-payment-dob' | trans }}</label>
            {{ form_widget(data.form.novalnetSepaGuarantee.dob, { 'attr': { 'placeholder': 'DD.MM.YYYY'} }) }}
        </div>
    </div>
{% endblock %}
