{% extends model('component') %}

{% define config = {
    name: 'invoice-guarantee',
    tag: 'invoice-guarantee'
} %}

{% block body %}
    <script src="https://cdn.novalnet.de/js/v2/NovalnetUtility.js"></script>

    <div class="payment-method">
        <p>{{ 'novalnet.invoice-payments-description' | trans }}</p>
        <div>
            <label>{{ 'novalnet.guarantee-payment-dob' | trans }}</label>
            {{ form_widget(data.form.novalnetInvoiceGuarantee.dob, { 'attr': { 'placeholder': 'DD.MM.YYYY'} }) }}
        </div>
    </div>
{% endblock %}
